a{
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-weight: bolder;
}
a:hover{
    color: orange;
}
.topBar{
    height: 31px;
    color: #757575;
    line-height: 31px;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}
.logoWrapper{
    background-color: dodgerblue;
}
.logoBar{
    height: 85px;
    padding-top: 17px;
}
.logo{
    margin-left: 37px;
    float: left;
}
.search{
    font-size: 0px;
    width: 430px;
    padding-top:15px;
    padding-left: 165px;
    float: left;
}
.searchText{
    width: 350px;
    height: 35px;
    padding: 0 5px;
    border-radius: 10px;
}
.searchButton{
    background-color: orange;
    width: 60px;
    font-size: 14px;
    font-weight: bolder;
    height: 35px;
    border-radius:5px;
    margin-left: 3px;
    color: #fff;
    cursor: pointer;
}
.shopCar{
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    float: right;
    height: 35px;
    width: 150px;
    background-color: orange;
    margin-right: 50px;
    border-radius: 5px;
}
.navWrapper{
    background-color: #2088ef;
}
.navBar{
    height: 35px;
}
.navWrapper .navBar li{
    float: left;
    line-height: 35px;
    padding-left: 58px;
}
.navWrapper .navBar li a{
    color: #fff;
}
.navWrapper .navBar li h3{
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
}
.navWrapper .navBar li a:hover{
    background-color: dodgerblue;
}
